/* Importing Maven Pro font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'unicons';
  src: url('../font/unicons.eot?42479262');
  src: url('../font/unicons.eot?42479262#iefix') format('embedded-opentype'),
       url('../font/unicons.woff2?42479262') format('woff2'),
       url('../font/unicons.woff?42479262') format('woff'),
       url('../font/unicons.ttf?42479262') format('truetype'),
       url('../font/unicons.svg?42479262#unicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'unicons';
    src: url('../font/unicons.svg?42479262#unicons') format('svg');
  }
}
*/
 
 .contact-info a:before{
  font-family: "unicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/*  moon / luna / lluna: content: '\ea9f';
    sun / sol / sol:  content: '\eb65';
    phone / teléfono / telèfon: content: '\eaca';
    envelope-email / sobre-email / sobre-emial:  content: '\e992';
    dribbble:  content: '\e96e';
    instagram:  content: '\ea3a';
    youtube: content: '\ebe8';
    pdf: content: '\e9b8';
*/

/*
.dark-mode {
  background: #0c0c0d;
  color: white;
}*/

/* GENERAL STYLES */

body {
  margin: 0;
  color:  #0c0c0d;
  font-family: 'Maven Pro', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  margin: 0 50px;
}

/* header */

header {
  font-weight: bold;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0 10px;
  font-size: 1.1rem;
}

header .container,
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin-right: 10px;
}

nav {
  width: 35%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header a:not(a[href]),
header a:hover {
  color: #0019ff;
}

header a {
  color: #0c0c0d;
  text-decoration: none;
}

header .container div:first-child {
  font-size: 1.5rem;
  color: #1b1fff;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

footer p {
  margin: 10px 0;
}

footer a {
  color:  #0019ff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


/* 'ABOUT' PAGE MAIN */

.about .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 50px 0;
  row-gap: 50px;
}

.about h1 {
  font-size: 40px;
}

.about h2 {
  font-size: 38px;
}

.about h3 {
  font-size: 28px;
}

.about .welcome {
  margin-top: 0;
}

.presentation {
  grid-column: 1 / 8;
}

.presentation button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #474559;
  color: white;
  border-style: none;
  font-weight: bold;
}

.presentation a {
  color: white;
  text-decoration: none;
}

.presentation a:first-child button {
  margin-right: 10px;
  padding-left: 40px;
  background: 
  url(../images/download.png) no-repeat 20px center/12px,
  #474559
  ;
}

.presentation a:first-child button:hover {
  background: 
  url(../images/download.png) no-repeat 20px center/12px,
  #0019ff
  ;
}

.presentation button:hover {
  cursor: pointer;
  background: #0019ff;
}

.presentation p:first-child {
  font-size: 0.8rem;
  font-weight: 600;
}

.presentation h1 span {
  color: #0019ff;
}

.ux-designer {
  grid-column: 8 / 13;
}

.ux-designer img {
  width: 90%;
  float: right;
}

.experiences {
  grid-column: 1 / 7;
  padding-right: 20px;
}

.list-item {
  display: flex;
  align-items: start;
}

.list-item:nth-child(n+2) {
  margin-top: 35px;
}

.list-item h2,
.list-item h3,
.list-item h4 {
  margin-top: 0;
}

.list-item .title {
  display: flex;
  align-items: center;
}

.list-item .title h3 {
  margin-right: 15px;
  margin-bottom: 0;
}

.list-item .title h4 {
  color: #474559;
  font-size: 14px;
  margin-bottom: 0;
  position: relative;
  top: 2px;
}

.date {
  background-color: #0019ff;
  border-radius: 50%;
  color: white;
  padding: 15px;
  font-weight: 600;
  margin-right: 25px;
}

.date p {
  margin: 10px 0;
}

.list-item a {
  color: unset;
  text-decoration: none;
}

.list-item span {
  color: #0019ff;
}

.education {
  grid-column: 7 / 13;
  padding-left: 40px;
}

.customers {
  grid-column: 3 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.customers h1 {
  margin-bottom: 25px;
}

.skewed-box {
  background-color: #efefef;
  transform: skew(-30deg);
  width: 650px;
  height: 200px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

blockquote {
  text-align: center;
  background: url(../images/left-quote.png) no-repeat center 2px/50px;
  padding: 50px 25px 25px 25px;
  z-index: 2;
}

blockquote cite {
  font-style: normal;
  font-weight: bold;
}